* {
  background-color: black;
}

#logo {
  height: 300px;
  width: 600px;
}
#spinner {
  margin-top: 20px;
  margin-bottom: 20px;
}
.search {
  color: white;
  border-radius: 8px;
}
.search-btn:active {
  color: black;
  background-color: whitew;
}

#page {
  color: white;
}
#header0, #header3,
#header1, #header4,
#header2, #header5 {
  font-weight: bold;
}

#header0:hover, #header3:hover,
#header1:hover, #header4:hover,
#header2:hover, #header5:hover {
  cursor: pointer;
  background-color: #3b6334;
}

#header0:active, #header3:active,
#header1:active, #header4:active,
#header2:active, #header5:active {
  background-color: #3a6358;
  color: #69a35f;
}

#table {
  margin-top: 2%;
  background-color: white;
  border: 4px solid rgb(139, 135, 135);
  height: fit-content;
}
th {
  font-weight: bold;
}
td {
  background-color: #2d3f2a;
  color: #417d6c;
  padding-left: 15px;
  padding-right: 10px;
}

.btn-picture {
  height: 150px;
  width: 150px;
  margin-left: 3%;
  margin-right: 3%;
}
.btn-picture:hover {
  cursor: pointer;
}

.btn {
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.btns {
  background-color: black;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  font-size: large;
}
